# Blocklist files/folders in same directory as .gitignore file
/*

# Includelist
!.gitignore
!README.md

!/wp-content/plugins/
/wp-content/plugins/*
!/wp-content/themes/
/wp-content/themes/*
